{% block body_html %}
    {% autoescape false %}
        <head>
            <meta name="viewport" content="width=device-width"/>
            <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
            <title>Chúng tôi vừa tìm thấy những đề nghị mới, phù hợp với yêu cầu {{ project.category.name }} #{{ project.id }} của bạn!</title>


            <style type="text/css">
                img {
                    max-width: 100%;
                }

                body {
                    -webkit-font-smoothing: antialiased;
                    -webkit-text-size-adjust: none;
                    width: 100% !important;
                    height: 100%;
                    line-height: 1.6em;
                }

                body {
                    background-color: #f6f6f6;
                }

                @media only screen and (max-width: 640px) {
                    body {
                        padding: 0 !important;
                    }

                    h1 {
                        font-weight: 800 !important;
                        margin: 20px 0 5px !important;
                    }

                    h2 {
                        font-weight: 800 !important;
                        margin: 20px 0 5px !important;
                    }

                    h3 {
                        font-weight: 800 !important;
                        margin: 20px 0 5px !important;
                    }

                    h4 {
                        font-weight: 800 !important;
                        margin: 20px 0 5px !important;
                    }

                    h1 {
                        font-size: 22px !important;
                    }

                    h2 {
                        font-size: 18px !important;
                    }

                    h3 {
                        font-size: 16px !important;
                    }

                    .container {
                        padding: 0 !important;
                        width: 100% !important;
                    }

                    .content {
                        padding: 0 !important;
                    }

                    .content-wrap {
                        padding: 10px !important;
                    }

                    .invoice {
                        width: 100% !important;
                    }
                }
            </style>
        </head>

        <table class="body-wrap"
               style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; width: 100%; background-color: #f6f6f6; margin: 0;"
               bgcolor="#f6f6f6">
            <tr style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;">
                <td style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; vertical-align: top; margin: 0;"
                    valign="top"></td>
                <td class="container" width="650"
                    style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; vertical-align: top; display: block !important; max-width: 650px !important; clear: both !important; margin: 0 auto;"
                    valign="top">
                    <div class="content"
                         style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; max-width: 650px; display: block; margin: 0 auto; padding: 20px;">
                        <table class="main" width="100%" cellpadding="0" cellspacing="0" itemprop="action" itemscope
                               itemtype="http://schema.org/ConfirmAction"
                               style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; border-radius: 3px; background-color: #e9e9e9; margin: 0; border: 1px solid #e9e9e9;"
                               bgcolor="grey">
                            <tr style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;">
                                <td class="content-block"
                                    style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; vertical-align: top; margin: 0; padding: 0 0 20px;"
                                    valign="top">

                                    <h1 style="font-family: 'Helvetica Neue',Helvetica,Arial,'Lucida Grande',sans-serif; box-sizing: border-box; font-size: 32px; color: #000; line-height: 1.2em; font-weight: 500;">
                                        <a href="http://dichvunhacua.com" style="border:none; outline:none" target="_blank">
                                            <img alt="Dich Vu Nha Cua Website" class="logo"
                                                 src="{{ absolute_url(asset('bundles/app/images/logo.png')) }}"
                                                 width="200" />
                                        </a>
                                    </h1>
                                </td>
                            </tr>
                        </table>
                        <table class="main" width="100%" cellpadding="0" cellspacing="0" itemprop="action" itemscope
                               itemtype="http://schema.org/ConfirmAction"
                               style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; border-radius: 3px; background-color: #fff; margin: 0; border: 1px solid #e9e9e9;"
                               bgcolor="#fff">
                            <tr style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;">
                                <td class="content-wrap"
                                    style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; vertical-align: top; margin: 0; padding: 20px;"
                                    valign="top">
                                    <meta itemprop="name" content="Confirm Email"
                                          style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;"/>
                                    <table width="100%" cellpadding="0" cellspacing="0"
                                           style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;">

                                        <tr style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;">
                                            <td class="content-block"
                                                style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; vertical-align: top; margin: 0; padding: 0 0 20px;"
                                                valign="top">
                                                Xin chào {{ user.firstName }},
                                            </td>
                                        </tr>
                                        <tr style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;">
                                            <td class="content-block"
                                                style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; vertical-align: top; margin: 0; padding: 0 0 20px;"
                                                valign="top">
                                                Chúng tôi vừa tìm thấy {{ proposals|length }} đề nghị mới, phù hợp với yêu cầu {{ project.category.name }} #{{ project.id }} của bạn!
                                                <br />
                                            </td>
                                        </tr>
                                        <tr style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;">
                                            <td class="content-block"
                                                style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; vertical-align: top; margin: 0; padding: 0 0 20px;"
                                                valign="top">
                                                <h4>Yêu cầu của bạn {{ project.category.name }} - {{ project.name }} #{{ project.id }}</h4><br/>
                                                {{ project.detail|raw|capitalize }}
                                                <hr/>
                                            </td>
                                        </tr>
                                        <tr style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;">
                                            <td class="content-block"
                                                style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; vertical-align: top; margin: 0; padding: 0 0 20px;"
                                                valign="top">
                                                Ngày yêu cầu {{ project.createdAt|date("d/m/Y") }}
                                            </td>
                                        </tr>
                                        <tr style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;">
                                            <td class="content-block"
                                                style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; vertical-align: top; margin: 0; padding: 0 0 20px;"
                                                valign="top">
                                                Địa chỉ: {{ project.address }} {{ project.city.name }}
                                            </td>
                                        </tr>

                                        <tr style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;">
                                            <td valign="top">
                                                <table width="100%" border="0" cellspacing="1" cellpadding="4">
                                                    {% for proposal in proposals %}
                                                        {% set business = proposal.business %}
                                                        <tr style="border-bottom: 1px solid #cecece;">
                                                            <td valign="top" style="border-bottom: 1px solid #e9e9e9;">
                                                                {% if proposal.business.logo is not empty %}
                                                                    <img src="{{ asset('uploads/business_logo/' ~ business.logo) }}" width="170"/>
                                                                {% else %}
                                                                    {{ business.name }}
                                                                {% endif %}
                                                            </td>
                                                            <td class="content-block"
                                                                style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; vertical-align: top; margin: 0; padding: 0 0 20px;border-bottom: 1px solid #e9e9e9;"
                                                                valign="top" align="left">
                                                                {{ business.name }}
                                                                <br/>
                                                                Category:
                                                                {% for category in business.categories %}
                                                                    <a href="{{ path('home-service-provider_matching_by_category',{'categorySlug':category.slug,'categoryParentId':category.parentId,'categoryId':category.id}) }}">{{ category.name }}</a>{% if not loop.last %},{% endif %}
                                                                {% endfor %}
                                                                <br/>
                                                                City: <a href="{{ path('home-service-provider_matching_by_location',{'locationSlug':business.city.slug,'locationId':business.city.id}) }}">{{ business.city.name }}</a>
                                                                <br/>
                                                                Ước lượng thời gian: <strong>{{ proposal.estimatedTime }} ngày</strong>. Ước lượng chi phí: <strong>{{ proposal.estimatedCost }}đ</strong> <br/>
                                                                Chi tiết: {{ proposal.description | striptags | truncate(300, true, '...') | raw }}
                                                            </td>
                                                        </tr>
                                                    {% endfor %}
                                                </table>
                                            </td>
                                        </tr>

                                        <tr style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin-top: 10px;">
                                            <td valign="top">
                                                <br><br>
                                                Nếu bạn có bất kỳ thắc mắc nào về yêu cầu và đề nghị, hãy gửi email đến chúng tôi qua contact@dichvunhacua.com hoặc liên hệ qua số điện thoại (84) 091765-8448.
                                                <br><br>
                                                <i>Đây là email tự động, vui lòng không trả lời email này.</i>
                                                <br><br>
                                            </td>
                                        </tr>

                                        <tr style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;">
                                            <td class="content-block"
                                                style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; vertical-align: top; margin: 0; padding: 0 0 20px;"
                                                valign="top">
                                                Thân mến,<br/>
                                                Phòng Dịch Vụ Khách Hàng<br/>
                                                <strong> DichVuNhaCua.com</strong><br/><br/>
                                                19 Nguyễn Văn Trỗi,<br/>
                                                Q. Phú Nhuận, Tp. Hồ Chí Minh<br />
                                                <a href="mailto:contact@dichvunhacua.com" style="color:#0000ff">contact@dichvunhacua.com</a><br />
                                                <a href="http://dichvuanhacua.com" style="color:#0000ff">http://dichvuanhacua.com</a></span> <br/>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                        <div class="footer"
                             style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; width: 100%; clear: both; color: #999; margin: 0; padding: 20px;">
                            <table width="100%"
                                   style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;">
                                <tr style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;">
                                    <td class="aligncenter content-block"
                                        style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 12px; vertical-align: top; color: #999; text-align: center; margin: 0; padding: 0 0 20px;"
                                        align="center" valign="top"> © 2017 Dich Vu Nha Cua Website. <br/>
                                        <a href="http://dichvunhacua.com/term-of-us"style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 12px; color: #999; text-decoration: underline; margin: 0;">Thỏa thuận sử dụng</a> - <a href="http://dichvunhacua.com/privacy-policy" style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 12px; color: #999; text-decoration: underline; margin: 0;">Quy định bảo mật</a> - <a href="http://dichvunhacua.com/about-us" style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 12px; color: #999; text-decoration: underline; margin: 0;">Về DichVuNhaCua</a> - <a href="http://dichvunhacua.com/contact" style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 12px; color: #999; text-decoration: underline; margin: 0;">Liên hệ</a>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </td>
                <td style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; vertical-align: top; margin: 0;"
                    valign="top"></td>
            </tr>
        </table>
    {% endautoescape %}
{% endblock %}
