{% block subject %}
    {% autoescape false %}
        {{ 'registration.email.subject'|trans({'%username%': user.username, '%confirmationUrl%': confirmationUrl}) }}
    {% endautoescape %}
{% endblock %}
{% block body_html %}
    {% autoescape false %}
            {% set activationUrl = 'http://' ~ tenant_domain ~ '/admin/users/set_password/' ~ user.confirmationToken ~ '?_locale='~app.request.locale %}
            {% set activationUrlEn = 'http://' ~ tenant_domain ~ '/admin/users/set_password/' ~ user.confirmationToken ~ '?_locale=en' %}
        <head>
            <meta name="viewport" content="width=device-width"/>
            <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
            <title>{{ 'registration.accept_icare_benefits_access_invitation'|trans }}
                {% if app.request.locale !='en' %}
                    / {{ 'registration.accept_icare_benefits_access_invitation'|trans({},null,'en') }}
                {% endif %}
            </title>


            <style type="text/css">
                img {
                    max-width: 100%;
                }

                body {
                    -webkit-font-smoothing: antialiased;
                    -webkit-text-size-adjust: none;
                    width: 100% !important;
                    height: 100%;
                    line-height: 1.6em;
                }

                body {
                    background-color: #f6f6f6;
                }

                @media only screen and (max-width: 640px) {
                    body {
                        padding: 0 !important;
                    }

                    h1 {
                        font-weight: 800 !important;
                        margin: 20px 0 5px !important;
                    }

                    h2 {
                        font-weight: 800 !important;
                        margin: 20px 0 5px !important;
                    }

                    h3 {
                        font-weight: 800 !important;
                        margin: 20px 0 5px !important;
                    }

                    h4 {
                        font-weight: 800 !important;
                        margin: 20px 0 5px !important;
                    }

                    h1 {
                        font-size: 22px !important;
                    }

                    h2 {
                        font-size: 18px !important;
                    }

                    h3 {
                        font-size: 16px !important;
                    }

                    .container {
                        padding: 0 !important;
                        width: 100% !important;
                    }

                    .content {
                        padding: 0 !important;
                    }

                    .content-wrap {
                        padding: 10px !important;
                    }

                    .invoice {
                        width: 100% !important;
                    }
                }
            </style>
        </head>

        <table class="body-wrap"
               style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; width: 100%; background-color: #f6f6f6; margin: 0;"
               bgcolor="#f6f6f6">
            <tr style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;">
                <td style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; vertical-align: top; margin: 0;"
                    valign="top"></td>
                <td class="container" width="650"
                    style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; vertical-align: top; display: block !important; max-width: 650px !important; clear: both !important; margin: 0 auto;"
                    valign="top">
                    <div class="content"
                         style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; max-width: 650px; display: block; margin: 0 auto; padding: 20px;">
                        <table class="main" width="100%" cellpadding="0" cellspacing="0" itemprop="action" itemscope
                               itemtype="http://schema.org/ConfirmAction"
                               style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; border-radius: 3px; background-color: #fff; margin: 0; border: 1px solid #e9e9e9;"
                               bgcolor="#fff">
                            <tr style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;">
                                <td class="content-wrap"
                                    style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; vertical-align: top; margin: 0; padding: 20px;"
                                    valign="top">
                                    <meta itemprop="name" content="Confirm Email"
                                          style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;"/>
                                    <table width="100%" cellpadding="0" cellspacing="0"
                                           style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;">
                                        <tr style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;">
                                            <td class="content-block"
                                                style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; vertical-align: top; margin: 0; padding: 0 0 20px;"
                                                valign="top">

                                                <h1 class="aligncenter"
                                                    style="font-family: 'Helvetica Neue',Helvetica,Arial,'Lucida Grande',sans-serif; box-sizing: border-box; font-size: 32px; color: #000; line-height: 1.2em; font-weight: 500; text-align: center; margin: 40px 0 0;"
                                                    align="center">
                                                    <a href="http://icarebenefits.com" style="border:none; outline:none"
                                                       target="_blank">
                                                        <img alt="iCARE BENEFITS" class="logo"
                                                             src="http://icarebenefits.com/sites/all/themes/iCBTemplate/image/logo.png"
                                                             width="100"
                                                             style="border:none; outline:none"/>
                                                    </a>
                                                </h1>
                                            </td>
                                        </tr>
                                        <tr style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;">
                                            <td class="content-block"
                                                style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; vertical-align: top; margin: 0; padding: 0 0 20px;"
                                                valign="top">
                                                {{ 'registration.email.hello_title'|trans({'%firstName%': user.firstName}) }}
                                            </td>
                                        </tr>
                                        <tr style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;">
                                            <td class="content-block"
                                                style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; vertical-align: top; margin: 0; padding: 0 0 20px;"
                                                valign="top">
                                                {{ 'registration.email.message'|trans({'%primaryContactName%': app.request.attributes.get('primaryContactName'), '%companyName%': app.request.attributes.get('companyName'), '%email%': user.email}) }}
                                            </td>
                                        </tr>
                                        <tr style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;">
                                            <td class="content-block" itemprop="handler" itemscope
                                                itemtype="http://schema.org/HttpActionHandler"
                                                style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; vertical-align: top; margin: 0; padding: 0 0 20px;"
                                                valign="top">
                                                <h4 class="aligncenter"
                                                    style="font-family: 'Helvetica Neue',Helvetica,Arial,'Lucida Grande',sans-serif; box-sizing: border-box; text-align: center;"
                                                    align="center">
                                                    <a href="{{ activationUrl }}" class="btn-primary" itemprop="url"
                                                       style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; color: #FFF; text-decoration: none; line-height: 2em; font-weight: bold; text-align: center; cursor: pointer; display: inline-block; border-radius: 5px; text-transform: capitalize; background-color: #fc6719; margin: 0; border-color: #fc6719; border-style: solid; border-width: 10px 20px;">
                                                        {{ 'registration.email.get_started'|trans }}</a>
                                                </h4>

                                            </td>
                                        </tr>
                                        <tr style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;">
                                            <td class="content-block"
                                                style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; vertical-align: top; margin: 0; padding: 0 0 20px;"
                                                valign="top">
                                                {{ 'registration.email.signature'|trans|raw }}
                                            </td>
                                        </tr>
                                    </table>
                                    {% if app.request.locale !='en' %}
                                        <hr/>

                                        <table width="100%" cellpadding="0" cellspacing="0"
                                               style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;">
                                            <tr style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;">
                                                <td class="content-block"
                                                    style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; vertical-align: top; margin: 0; padding: 0 0 20px;"
                                                    valign="top">

                                                    <h1 class="aligncenter"
                                                        style="font-family: 'Helvetica Neue',Helvetica,Arial,'Lucida Grande',sans-serif; box-sizing: border-box; font-size: 32px; color: #000; line-height: 1.2em; font-weight: 500; text-align: center; margin: 40px 0 0;"
                                                        align="center">
                                                        <a href="http://icarebenefits.com"
                                                           style="border:none; outline:none"
                                                           target="_blank">
                                                            <img alt="iCARE BENEFITS" class="logo"
                                                                 src="http://icarebenefits.com/sites/all/themes/iCBTemplate/image/logo.png"
                                                                 width="100"
                                                                 style="border:none; outline:none"/>
                                                        </a>
                                                    </h1>
                                                </td>
                                            </tr>
                                            <tr style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;">
                                                <td class="content-block"
                                                    style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; vertical-align: top; margin: 0; padding: 0 0 20px;"
                                                    valign="top">
                                                    {{ 'registration.email.hello_title'|trans({'%firstName%': user.firstName},null,'en') }}
                                                </td>
                                            </tr>
                                            <tr style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;">
                                                <td class="content-block"
                                                    style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; vertical-align: top; margin: 0; padding: 0 0 20px;"
                                                    valign="top">
                                                    {{ 'registration.email.message'|trans({'%primaryContactName%': app.request.attributes.get('primaryContactName'), '%companyName%': app.request.attributes.get('companyName'), '%email%': user.email},null,'en') }}
                                                </td>
                                            </tr>
                                            <tr style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;">
                                                <td class="content-block" itemprop="handler" itemscope
                                                    itemtype="http://schema.org/HttpActionHandler"
                                                    style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; vertical-align: top; margin: 0; padding: 0 0 20px;"
                                                    valign="top">
                                                    <h4 class="aligncenter"
                                                        style="font-family: 'Helvetica Neue',Helvetica,Arial,'Lucida Grande',sans-serif; box-sizing: border-box; text-align: center;"
                                                        align="center">
                                                        <a href="{{ activationUrlEn }}" class="btn-primary" itemprop="url"
                                                           style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; color: #FFF; text-decoration: none; line-height: 2em; font-weight: bold; text-align: center; cursor: pointer; display: inline-block; border-radius: 5px; text-transform: capitalize; background-color: #fc6719; margin: 0; border-color: #fc6719; border-style: solid; border-width: 10px 20px;">
                                                            {{ 'registration.email.get_started'|trans({},null,'en') }}</a>
                                                    </h4>

                                                </td>
                                            </tr>
                                            <tr style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;">
                                                <td class="content-block"
                                                    style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; vertical-align: top; margin: 0; padding: 0 0 20px;"
                                                    valign="top">
                                                    {{ 'registration.email.signature'|trans({},null,'en')|raw }}
                                                </td>
                                            </tr>
                                        </table>
                                    {% endif %}
                                </td>
                            </tr>
                        </table>
                        <div class="footer"
                             style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; width: 100%; clear: both; color: #999; margin: 0; padding: 20px;">
                            <table width="100%"
                                   style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;">
                                <tr style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;">
                                    <td class="aligncenter content-block"
                                        style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 12px; vertical-align: top; color: #999; text-align: center; margin: 0; padding: 0 0 20px;"
                                        align="center" valign="top"> © 2016 iCare Benefits Asia PTE. LTD. <br/>
                                        <a href="http://icarebenefits.vn/"
                                           style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 12px; color: #999; text-decoration: underline; margin: 0;">Vietnam</a>
                                        -
                                        <a href="http://icarebenefits.com.kh/"
                                           style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 12px; color: #999; text-decoration: underline; margin: 0;">Cambodia</a>
                                        -
                                        <a href="http://icarebenefits.id/"
                                           style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 12px; color: #999; text-decoration: underline; margin: 0;">Indonesia</a>
                                        -
                                        <a href="http://icarebenefits.la/"
                                           style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 12px; color: #999; text-decoration: underline; margin: 0;">Laos</a>
                                        -
                                        <a href="http://www.icarebenefits.ph/"
                                           style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 12px; color: #999; text-decoration: underline; margin: 0;">Philippines</a>
                                        -
                                        <a href="http://icarebenefits.co.th/"
                                           style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 12px; color: #999; text-decoration: underline; margin: 0;">Thailand</a>
                                        -
                                        <a href="mailto:info@icarebenefits.in"
                                           style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 12px; color: #999; text-decoration: underline; margin: 0;">India</a>
                                        -
                                        <a href="mailto:info@icarebenefits.bd"
                                           style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 12px; color: #999; text-decoration: underline; margin: 0;">Bangladesh</a>
                                        -
                                        <a href="mailto:info@icarebenefits.br"
                                           style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 12px; color: #999; text-decoration: underline; margin: 0;">Latin
                                            America</a>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </td>
                <td style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; vertical-align: top; margin: 0;"
                    valign="top"></td>
            </tr>
        </table>
    {% endautoescape %}
{% endblock %}
